.hovercard {
    transition: 10ms;
}

.hovercard:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 778px) {
    .card-details {
        position: sticky;
        top: 0;
        background-color: lightgreen;
    }
}